video {
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  width: 320px;
  height: 240px;
}
.video-header {
  background-color: #000;
  color: #fff;
  text-align:center;
  padding-top:20px;
  padding-bottom:30px;
  border-radius: 7px;
  margin: 5px 0px 0px 10px !important;
  width: 654px;
}
button {
  margin: 5px 0px 0px 10px !important;
  width: 654px;
}
.space25 {
margin-top:25px;
}
.go-slack {
background-color: #000;
  color:#fff;
}
.initial-contact {
background-color: #000;
  color:#fff;
}
.large-text {
 font-size:2em;
} 
/* Below is Bootstrap4 styling */
/* http://getbootstrap.com/docs/4.1/layout/overview/ */
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
