/* flexbox css for testing */
/* needs to be used in conjunction with grids */
.flexwrapper {
  display: flex;
  flex-wrap: wrap;
}
.flexwrapper > div {
  flex: 1 1 200px;
  color: red;
}
/* end flexbox */
/* css grid for testing */
/* based off CSS Grid Layout https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout 17 April 2018 */
* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  /* background-color: rgba(233,171,88,.5); */
  background-color: white;
  padding: 1em;
  color: #d9480f;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /*grid-auto-rows: minmax(100px, auto);*/
  /* IMPORTANT REVISIT minmax feature for grids */
}
/* To better illustrate mobile phone settings */
.wrapper-phone {
  max-width: 700px;
  margin: 0 auto;
}
.wrapper-phone > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}
.wrapper-phone {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(75px, auto);
}
/* end wrapper phone */
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
.gc1gr1 {
  grid-column: 1;;
  grid-row: 1;
}
.gc1gr2 {
  grid-column: 1;
  grid-row: 2;
}
.gc1gr3 {
  grid-column: 1;
  grid-row: 3;
}
.screen911 {
  background: url('/wireframes/backdrop911screen.jpg');
  grid-column: 1;
  grid-row: 2;
}
.screen911wide {
  background: url('/wireframes/backdrop911screen.jpg');
  background-repeat: no-repeat;
  object-fit: fill;
  /* https://css-tricks.com/almanac/properties/o/object-fit/ */
  color: white;
  grid-column: 1/4;
  grid-row: 1;
}
.wireframe1 {
  grid-column: 1/4;
  grid-row: 1;
  height: 100vh;
}
.wireframe2 {
  grid-column: 3/4;
  grid-row: 1;
  height: 100px;
}
.wireframe3a {
  grid-column: 1;
  grid-row: 1;
}
.wireframe3b {
  grid-column: 1;
  grid-row: 2;
}
.wireframe3c {
  grid-column: 1;
  grid-row: 3;
}
.wireframe3d {
  grid-column: 1;
  grid-row: 4;
}
.wireframe3e {
  grid-column: 1;
  grid-row: 5;
}
